<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="">
		<div class="aHl"></div>
		<div id=":pm" tabindex="-1"></div>
		<div id=":nr" class="ii gt">
			<div id=":ns" class="a3s aXjCH "><u></u>
				<div style="margin:0;padding:0;background-color:#eaeaef;height:100%">

					<div
						style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
						texto que vai aparecer no corpo do email.</div>

					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						style="background-color:#eaeaef;overflow-x:hidden">
						<tbody>
							<tr>
								<td align="left">
									<table align="center" border="0" cellpadding="0" cellspacing="0"
										style="border-collapse:collapse;overflow-x:hidden;font-family:'proxima-nova',sans-serif;width:95%;max-width:600px">
										<tbody>
											<tr>
												<td align="left">
													<table align="center" border="0" cellpadding="0" cellspacing="0"
														style="overflow-x:hidden;width:100%;">


														<tbody>
															<tr>
																 <!-- LOGO TOPO My HERO-->
																<td align="center"
																	style="padding:15px 0px 15px 0px;">
																	<img src="https://lh3.googleusercontent.com/kw9iKSYdcJ7ff_izbGcwLisHZtgzGsQNKzQlXrBUr36aOnbum26_Ru-c3dVnnjs27HGTYGSndKbV-BxVMtRfwryIIY8WY_DhqkebEqrGPzOWgRTv6-IJM9jQol4XOaYf3HqqZY2rpHsnklXUqquA3rm-ShcfxJjGtQHLbFl6XVRmZmQSJ_Q5Sr6BmlPhOf8mq--H31qhiyZ6RR2ekTZtjDpWvlkBduFBuRdYHc4Kj82cfAXUO68UY3tdA5dO44-OWYfKHA8EIGkjx_4xoB2qQoYOP28vXLBs1yWImJh6bz4jq_XHQ5G4u7xQ6GSg8llaF1IaZSs42I16CQeq5fL3-3ZjQVMA7aJJX0wjZkukrBF1kG02RVeq6j9EvEb-GK9N7Qv1fhMxuTxWflQ3eZLX0kalLno8D6Uw-mxGE5qXYDtoYRYDJepD2qsbRl7kL2744KuEyGAEboIyulqx3rN2eORbB39kUJ4z_gIBvF3E9s_6bU1Eh7Iweq5CWk5tG4aEA0XFpiuXn45ZJbCcT6y9znrF1G8fs8szZ10zI1MXNXIgob9pWzn3S1PV1qMLY8ayJnUrUGtSgnzhsl5pn4AX5lujqVMW831Gr_LDegc5XWkdkazA-QaSigQDZph_3Q_HLW5j-O36-pcPQ3uomaAdepgLqtibvuLwUMabLVRfjB-uH1zfOGyLgfvZZ6AGN3HvlRtn=w1600-h789-ft"
																		alt="MyHero Logo" width="100%" class="CToWUd">
																</td>
															</tr>


															<tr>
																<td align="left" bgcolor="#ff8700"
																	style="padding:20px 40px 0px 40px;font-family:'proxima-nova',sans-serif;border-top-left-radius:10px;border-top-right-radius:10px">
																</td>
															</tr>


															<tr>
																<td align="left" bgcolor="#ff8700"
																	style="padding:20px 40px 0px 40px;font-family:'proxima-nova',sans-serif;">
																	<table align="left" border="0" cellpadding="0"
																		cellspacing="0"
																		style="background-color:#ff8700;overflow-x:hidden;padding:0px">
																		<tbody>
																			<tr>

																				<td style="vertical-align:center">
																					<h1
																						style="color:#0d0d0d;margin:0;font-size:22px;line-height:150%">
																						Texto teste 0</h1>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

															<tr>
																<td bgcolor="#ff8700"
																	style="margin:0px;padding:20px 40px 0px 40px">
																	<table style="width:100%">
																		<tbody>
																			<tr>
																				<td
																					style="background:none;border-top:solid 1px #eaeaef;border-left:none;border-right:none;border-bottom:none;border-collapse:collapse;border-spacing:0;width:100%;margin:0px 0px 0px 0px">
																					&nbsp;</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

                                                            <!-- 
															<tr>
																<td bgcolor="#ffffff"
																	style="padding:20px 40px 0px 40px;margin:0px;font-family:'proxima-nova',sans-serif">
																	<div
																		style="margin-left:auto;margin-right:auto;width:100px;height:100px;background:#e0e0e0 url('https://lh3.google.com/u/0/d/1GV4ExtdogVDzuO9JvIBVanaIJTBDO5DP=w1600-h572-iv1') no-repeat center;background-size:cover;border-radius:100px">
																	</div>
																</td>
															</tr>
														-->
                                                                  <!-- GERAR CARTAO QR CODE-->
														<tr >
															<td align="center" bgcolor="#ff8700">
                                                                <div name="corpoDoCartao" style="border-radius:10px;background-color:rgb(128, 128, 128);width:230px;height:389px;z-index:3; margin-top: 15px; ">
															<div name="corpoDoCartao" style="border-radius:10px;background-color:rgb(0, 164, 176);width:244px;height:385px;z-index:3;">

															<div name="circulo_para_logo" style="border-width: 6px;	border-color:rgb(0, 97, 144);border-style:solid;border-radius:50%;background-color:rgb(250,250,250);float:left;margin-top:100px;margin-left:33px;width:167px;height:167px;z-index:5;">

															<div  style= "float:left;margin-top:25px;margin-left:22px;"> 
															<img name="logoDoCartao" src="https://lh3.googleusercontent.com/zTXBlVyVE3LqByWy35V8DyV7rtv37wpFx8jAmwUFoHeuYUuvmg2TPqzsRCp2KmUjXu-Sa6NsYDto7nsq5R84RvapW9veBFxPf4fZfra3vKcZlScII02UV_QX9_wIxl-KvhITAUL4_-Hzhu_dJcJWcuarWdtDoy1EYIQrc2m7Hbt_iFBloMDBlxWkieQf2t06E7vp8Bp_iG_52jBCcJdkoIX6pSsrb78WF-FH7e0GPsh36M0VlOPTo6DvLIuF41Apgo8JuGI6FyGzDwpD4Yy4MwYy-sJf8dK8GwYoc3nq8BhtfUyRHX6s5tVlnzHGnxDzOUERnu3TssXiaNnrcYEhvI4f8AY52FpEyWEpc6FxF0jtoFPnueeRt758ZzOpsig_asND5i-zdPtffJMJOIFFa6FeaGI-2zBHWZJZC23jqlzu0Ic0yToiZEyp7Q43XoXEF-Vcr_zg-syH5SAqWyZO8xb4vK3i3P84G_gcX2IJ6wvuo5QMZ_IYeUtX7gmpOhuGX86xK8AHh-f3Udd6TAlHB24P25V0P8lUfc3037pc0eUm_Z3oUdd3zniGwmGIX_Djn1ciYK1OE-rB-o5Wcr3f-0f0v3Kx4W09x2XScVeyfmnpDloTcZMmMAcFgjLur0wEOBzTU5qucz7XQ44ba-gLGQ4UBYWxF6nMvsWzHvWqkfilGVmsoIIe0nJe1ZDP1i0DXB53=w1600-h789-ft">
															</div>
														</div>
																								
                                                            <div  name="base_para_texto" style="background-color:#ffffff;float:left;margin-top:5px;width:244px;height:83px;z-index:4;">
                                                                
																<img name="textoEscritoMyHero" src="https://lh3.googleusercontent.com/opVCQHRhwCh4RzEvryrh8H42XO0KNOujUFre7WNHYcAZ_fj2ZcHWY1CoLzfo0pscpPtquZTLVUItOpoESSGtJ6kmAAhzh5WCjN9YYwv2zaJi5elMHLXGTTGATQsIYUGVgw65R6v-GxJbK5ryxu_v0OrdTIKmK15lCdZcDbzndZnA8Rs28XF8RSBXy0f0_V2xRmAafV-uthZdlmaAtWE2V6SU8Q3rPC6xyd2E-F5Vw7SPR_nEn0jGfIlS2j6xRJbi36he3_leJ4TbWxZbeMbq2cU5sTpuPXy_6GpWETDgxj_ib18uptjiPFsqJ9mtu8PRcedQ7fgKUUArDLWfxKwB336HHX1qGQ8oqYTGpq6rxhzFsmwQd_xmbQsHR3YId2XzJZomBxJgsiaEho_MjfemRRPOQhW4804WErSZJqOrW7m_BwaXV9cwHE5TO_EcO_7iZIiQUsxCZuwn--qTBSYXIx6Z0BrZgNDWiwxQOCSVYt6e627M9FRgRdzEQ1pinINMDyY-oLcHvF97zCxPzjbjd0WwxgM_-AEBLFznlMGRM3L6R5HNtBdemb3OxlxLUJum1MTI_LDJUmmXoc1xecY71DiaPIjvodXjTQMm6XbXO2Xiet1sa0_NuuUK_E40DuhfDnrwHMEXLLcTYkfwWQcT7PbEsQ6yRCiLHUxaqnreceyAPvkXujL3WSZ-TRAwfhy7bITa=w1600-h484-ft">
                                                               
                                                               </div>
                                                            </div>
															
                                                        </div>
                                                            
															
																
                                                            
															</td>
                                                        </tr>
                                                        


                                                                                   <!-- QR CODE ATRAS-->
														<tr >
                                                            <td align="center" bgcolor="#ff8700">
                                                                <div name="corpoDoCartao" style="border-radius:10px;background-color:rgb(128, 128, 128);width:230px;height:389px;z-index:3; margin-top: 95px; ">
                                                                <div name="corpoDoCartao" style="border-top-left-radius: 10px;border-top-right-radius: 10px;background-color:#ffffff;width:244px;height:250px;z-index:3;margin-top:0px;margin-left: 0px;">

                                                                    <div  style= "float:left;margin-top:2px;margin-left:2px;"> 
                                                                        <img name="logoDoCartao" src="https://lh3.googleusercontent.com/EBG84nxLm-O_BZlJvUZ7RlrO2dnW_dmYAbqVnLBCUg3l62z4IeCtjm14nOQhx34p_qE_c4RgJZlCKjJTxq8V6Flq3C7pFkPeH3HXEBDH4YlYMsl12ki3_4adwpKTkZxoEzB4P9Kl_MgjUQ4MHPgZoLyqVrM4yHWGt5m4VicX9d4sui3mTgMW7LHDeXnsN8qRL8CoDQXMM8QxdbE4ZDDb-QLXAmdo3yigk4c6RjHBxZ5TuH6l3LjHLjra_1Vbk5pXK0WJLduRDCAgOAIXSmJk1TRH7Gq8vTzZzuMGsRSN3zAuKs-LP10zWmKmCr_jGp__-AOgJMUBGAfVkqwFyEx00RljIex2wSc79s0xchrrZtVuY0KILv8qQZYQrqgGUJgEe7xhRom3BCWJMcR1PHUfqf7aphHxP1ee6qruVytDN6v6Nuvy7XlaUths2OJ4UpmBCJnMlp9aASLMMpZMy8r2dQ1FNV1oatkgEoswtmZ7l-hbsxxYE3KzOtPTfklpnnJEcPensVg4OuChnuBCr8yVauf6_D6uiHsXZThfIV2ISP11ddRi3RbffkhQVPhYzr5Kek_3Qy8rFT3iGBhgjWWurjW6GMaF_dy4oTE2aMMEbW0mD0ho_mwSu9YDD74phcy_I1SYVkrBQb_RaFAl6Eu4U5ZsAKQ4lPJxqTus3wcPBUXPCyihDOU5S9UwwzzCOBKlbRy3=w1600-h716-ft">
                                                                        <div  style= "float:left;margin-top:2px;margin-left:2px;"> 
                                                                               
                                                                    </div>
                                                                    <img name="logoDoCartaoPequena" src="https://lh3.googleusercontent.com/AgZoy-AZRPPmfQJ0zaSRbbzBP6XcsRP9nRcjTOUBShaZs7GEfZFc88N4W9WYvunVC2Vy3GlDO0gQYHAOofvI2NPrJ5QjA3oTclTjCVnha-aVibE7lf4weUYsuYEHpF_AhCy1RJpPxwIozcP1pvFGZYraV4RL9iIeEI04Jg-l4cNZd_gTa1oAaCalvA8NxcdjSARnr5KHsl9QRfmn3FJdnSy1HTMv0C0zcXM8l3GkcK6fysV3-H3ozM1bc7dWkODWfqtbzP9amRRQFQomS-H3n7LpxVYq_Lg3RHn4Hd_lGEUPSTH7gdcAFagEM12ipD3EO3jKfBWESkgHC-eHXZKB8Yqp8tsO1ZbMCBCYRiyV_efYG1lWJ9B629ZzrueEuT7njR8ZlL88sr4_LnCXDrQxO9GRY_aaST0NWGlHxXI-zGDByebPzeMrmKcCA44wXm29KX1lO4k2_mUfBpAEXut6TnNUHD6FDfDVXFl4E5Elx7obr01rbEijSyA52Bmv75nWbUzkM2rUYgKKNAR52OixE7PPewOy7WKRLq6XRAco-Od5Z7X7i-SdDVwUfT5zEdH5wdF9NJOn32-brlCIMhbFweSdfUnaC5p1TmFkwiWr-8MV85Iz35rtu7ajOcpAgmjXxDxAifyBz9tuq7FVbl7y868MDBn3t--AmKMc3P7VDRmbGMJg18x5oTu_6Uwmz25rIM88=w1600-h789-ft">
                                                                            </div> 
                                                                    <div  name="base_para_texto" style="background-color:rgb(0, 97, 144);float:left;margin-top:0px;width:244px;height:2px;z-index:4; ">
																		<div  name="base_para_texto" style="background-color:rgb(0, 97, 144);float:left;margin-top:155px;width:210px;height:56px;z-index:4; ">
																			
																			<p style="color: #ffffff;  font-weight: bolder;"> SIMONE LINDA GATINHA</p>

                                                                        </div>
                                                                        <div  name="base_para_texto" style="background-color:rgb(117, 117, 117);float:left;margin-top:0px;width:205px;height:2px;z-index:4;">  
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    
                                                                    
                                                                    
                                                                </div>
                                                                
                                                                
                                                            
                                                                <div name="corpoDoCartao" style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;background-color:rgb(0, 164, 176);width:244px;height:135px;z-index:3;">
																					
														</div>
																								
															
															
															 
															 
															
																</div>
                                                                <br><br>
															</td>
                                                        </tr>
                                                        




															<tr>
																<td align="center" bgcolor="ff8700"
																	style="padding:20px 40px 0px 40px;font-family:'proxima-nova',sans-serif">
																	<p
																		style="padding:0px;color:#5d666f;margin:0;font-size:16px;line-height:150%;font-weight:bold;text-align:center">
																		Texto teste 1 <span style="color:#11c76f">Texto teste 2</span>
																	</p>
																	<p
																		style="padding:0px;color:#bfc6ce;margin:0;font-size:14px;line-height:150%;text-align:center">
																		
																	</p>
																</td>
															</tr>

															<tr>
																<td bgcolor="#ff8700"
																	style="margin:0px;padding:20px 0px 0px 0px">
																	<table style="width:100%">
																		<tbody>
																			<tr>
																				<td
																					style="background:none;border-top:solid 1px #eaeaef;border-left:none;border-right:none;border-bottom:none;border-collapse:collapse;border-spacing:0;width:100%;margin:0px 0px 0px 0px">
																					&nbsp;</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

															<tr>
																<td align="left" bgcolor="#ff8700"
																	style="padding:20px 40px 0px 40px;font-family:'proxima-nova',sans-serif">
																	<table border="0" cellpadding="0" cellspacing="0"
																		style="width:100%;background-color:#ff8700;overflow-x:hidden;padding:0px">
																		<tbody>
																			<tr>
																				<td align="left">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;text-align:left">
																						Texto teste 3
																					</p>
																				</td>
																				<td align="right">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;text-align:right">
																						Texto teste 4
																					</p>
																				</td>
																			</tr>
																			<tr>
																				<td align="left">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;text-align:left">
																						Texto teste 5
																					</p>
																				</td>
																				<td align="right">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;text-align:right">
																						Texto teste 6
																					</p>
																				</td>
																			</tr>
																			<tr>
																				<td align="left">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;text-align:left">
																						Texto teste 7
																					</p>
																				</td>
																				<td align="right">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;text-align:right">
																						Texto teste 8
																					</p>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

															<tr>
																<td bgcolor="#ff8700"
																	style="margin:0px;padding:20px 40px 0px 40px">
																	<table style="width:100%">
																		<tbody>
																			<tr>
																				<td
																					style="background:none;border-top:solid 1px #eaeaef;border-left:none;border-right:none;border-bottom:none;border-collapse:collapse;border-spacing:0;width:100%;margin:0px 0px 0px 0px">
																					&nbsp;</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

															<tr>
																<td align="left" bgcolor="#ff8700"
																	style="padding:20px 40px 0px 40px;font-family:'proxima-nova',sans-serif">
																	<table border="0" cellpadding="0" cellspacing="0"
																		style="width:100%;background-color:#ff8700;overflow-x:hidden;padding:0px">
																		<tbody>
																			<tr>
																				<td align="left">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;font-weight:bold;text-align:left">
																						Texto teste 9
																					</p>
																				</td>
																				<td align="right">
																					<p
																						style="padding:5px;color:#5d666f;margin:0;font-size:16px;line-height:150%;font-weight:bold;text-align:right">
																						Texto teste 10
																					</p>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>



															<tr>
																<td align="left" bgcolor="#ff8700"
																	style="padding:40px 20px 0px 20px;font-family:'proxima-nova',sans-serif;border-bottom-left-radius:10px;border-bottom-right-radius:10px">
																</td>
															</tr>

															<tr>
																<td align="left" bgcolor="#EAEAEF"
																	style="padding:40px 10px 0px 10px;font-family:'proxima-nova',sans-serif">
																	<p
																		style="padding:0px;color:#7e8790;margin:0;font-size:16px;text-align:center">
																		Texto teste 11<a
																			href="https://ajuda.picpay.com/picpay/enviando-e-recebendo-dinheiro?utm_source=pagamento-realizado&amp;utm_medium=email"
																			alt="Centra de Ajuda | PicPay"
																			style="color:#11c76f" target="_blank"
																			data-saferedirecturl="https://www.google.com/url?q=https://ajuda.picpay.com/picpay/enviando-e-recebendo-dinheiro?utm_source%3Dpagamento-realizado%26utm_medium%3Demail&amp;source=gmail&amp;ust=1594733052868000&amp;usg=AFQjCNGiljULK-KIaViGpcGltGhidCDlcg">
																			Texto teste 12</a></p>
																</td>
															</tr>



															<tr>
																<td align="center" bgcolor="#EAEAEF"
																	style="padding:40px 10px 10px 10px;font-family:'proxima-nova',sans-serif">
																	<table border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																			<tr style="margin:0;padding:0">
																				<td align="center" width="60">
																					<a href="https://www.facebook.com/PicPayBrasil"
																						target="_blank"
																						data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/PicPayBrasil&amp;source=gmail&amp;ust=1594733052868000&amp;usg=AFQjCNHxLVdozoznIraGBoKfOPNpA-mXdQ"><img
																							src="https://ci5.googleusercontent.com/proxy/JTode7rkV4h4YG35Wj8k5HDuI7Zcq5M_QgjYFovptId-x2uCMt1rIAdrqACF6KYZ9jZbGCu9ipcO9oyjN_akZ57MHe0=s0-d-e1-ft#https://cdn.picpay.com/transactional/facebook.png"
																							style="border:0"
																							alt="Facebook do PicPay"
																							width="40"
																							class="CToWUd"></a>
																				</td>
																				<td align="center" width="60">
																					<a href="https://www.twitter.com/PicPay"
																						target="_blank"
																						data-saferedirecturl="https://www.google.com/url?q=https://www.twitter.com/PicPay&amp;source=gmail&amp;ust=1594733052868000&amp;usg=AFQjCNG2pAj5ZdbkwMnwBUT4Io2cGbdFiA"><img
																							src="https://ci5.googleusercontent.com/proxy/Y5rKfbeb4C4zsn9ABfePEzTbE2oi4l4sw_wFoSoFkFZgoxd_BpkXTPfj-rUX1LYxQc9qQryYlMwD_S1Ad3O0Oi3MKA=s0-d-e1-ft#https://cdn.picpay.com/transactional/twitter.png"
																							style="border:0"
																							alt="Twitter do PicPay"
																							width="40"
																							class="CToWUd"></a>
																				</td>
																				<td align="center" width="60">
																					<a href="https://www.instagram.com/PicPay"
																						target="_blank"
																						data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/PicPay&amp;source=gmail&amp;ust=1594733052869000&amp;usg=AFQjCNHfsC3ReSJnRwE4eVc0NxEkWKt88w"><img
																							src="https://ci3.googleusercontent.com/proxy/VGIDUQHM45j1JpiqwQKrcIb7zC7hkM9Yb_eJG8-E7sErDh521FfTZRgbsy6oVxjc2mTJ8enNjUDt1hg1PM7mgB0-9_Ss=s0-d-e1-ft#https://cdn.picpay.com/transactional/instagram.png"
																							style="border:0"
																							alt="Instagram do PicPay"
																							width="40"
																							class="CToWUd"></a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>



															<tr>
																<td align="left" bgcolor="#EAEAEF"
																	style="padding:10px 10px 40px 10px;font-family:'proxima-nova',sans-serif">
																	<p
																		style="padding:0px;color:#7e8790;margin:0;font-size:12px;text-align:center">
																		Texto teste 13 <img goomoji="1f49a"
																			data-goomoji="1f49a"
																			style="margin:0 0.2ex;vertical-align:middle;max-height:24px"
																			alt="💚"
																			src="https://mail.google.com/mail/e/1f49a"
																			data-image-whitelisted="" class="CToWUd">
                                                                            Texto teste 14<br>Texto teste 15</p>
																</td>
															</tr>







														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>

								</td>
							</tr>
						</tbody>
					</table>


					<img src="https://ci5.googleusercontent.com/proxy/WQOmlPrZ-qiV_k0Vq0mYF0c2B7-4cMNlttUyxI2RNSe7XfX5Mz4J-ZMybGbURbrvEfO7xAi4Git7pLGD_jSuSOkwIx_f0xSTYGlVtwzq59ilwgoe06U3mHXSI8PGrh7aFkhdZVq02z92hbqktCul1jqlCYVLbgAcANqD7EibAQUiZU7bTwFiWmgtyzEQll6sEEw4vKqQnFZqRxEXPjB2_unT-8ZtkfiL7sWF_KnFoIllVbOL5P0mWzIFMhJucIJJesMtTYSEaRo21ELBRkWnoIRBondzbAYTrxPj0H2Uqyttd3J2esY5Zud1un3RRj9wJ1Y2vU9a0lBFGh4GwXQ-dM8yOanK0ZxAh7efZjjpZtplacP48eN_92knV3_tVHozn1_3zCVYVW8yZv3XCVsHnzrNNz5uvB59nwO66R6JmX4Tzag6hvn4PEsSBio6iGJakAc=s0-d-e1-ft#https://u420157.ct.sendgrid.net/wf/open?upn=ZpSFT1CCElSk1F6Q6qLSR1EIIlgaaiaLO5DiSiDM0iWHTSr7rd0gx0y4HlF3VgwkssPycmcLw9z9lWbYDcUdEm0sTtiAH6sxPYxakkrsBLbKJlt9A-2BjFjH5-2BYnNNu8bx0NDDQmhkWmm5gDNwvzVxVWg5byV4mYHsQvELn-2BD2JzgJW4CPngJFWDFVIalWneC6IlazO-2B0XyR1-2BGX9QTLGMsfo-2FeVptXJHJo-2FXAPx81U8rGkPBM-2BDrOJH8zBWlnB-2FpF"
						alt="" width="1" height="1" border="0"
						style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
						class="CToWUd">
					<div class="yj6qo"></div>
					<div class="adL">
					</div>
				</div>
				<div class="adL">


				</div>
			</div>
		</div>
		<div id=":pr" class="ii gt" style="display:none">
			<div id=":pq" class="a3s aXjCH undefined"></div>
		</div>
		<div class="hi"></div>
	</div>

	</body>

</html>